.ingredient-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ingredient-block-box {
    width: 25%;
}

.btn-ingredient {
    min-height: 80px;
    margin: 10px;
}

.ingredient-img {
    width: 100%;
    height: auto;
}

.ingredient-block-btn-delete {
    text-align: center;
}

.btn-delete-ingredient {
    width: 30px;
    height: 30px;
}